<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.touch.gestures"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.android.touch.gestures.TRIGGER_SCREEN_OFF_GESTURE"
        android:protectionLevel="signatureOrSystem" />

    <protected-broadcast android:name="com.android.touch.gestures.UPDATE_SETTINGS" />

    <uses-sdk
        android:targetSdkVersion="32"/>

    <application
        android:label="@string/touchscreen_gesture_settings_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:directBootAware="true"
        android:defaultToDeviceProtectedStorage="true"
        android:persistent="true"
        android:allowClearUserData="false">

        <activity
            android:name=".TouchscreenGestureSettings"
            android:label="@string/touchscreen_gesture_settings_title"
            android:excludeFromRecents="true">
          <intent-filter>
	        <action android:name="android.intent.action.MAIN" />
    	        <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <activity
            android:name=".ScreenOffLaunchGestureActivity"
            android:permission="com.android.touch.gestures.TRIGGER_SCREEN_OFF_GESTURE"
            android:excludeFromRecents="true"
            android:label="@string/touchscreen_gesture_settings_title">
        </activity>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".GestureKeyHandler"
            android:exported="false" />

    </application>
</manifest>
